{% extends 'base.twig' %}

{% block content %}

<h2>User</h2>

{{ flash.info|escape }} <br />
{{ flash.error|escape }} <br />

{% if user %}
    <table>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Hash</th>
            <th>Email</th>
            <th>Bio</th>
            <th>Age</th>
        </tr>
        <tr>
            <td>{{ user.id|escape }}</td>
            <td>{{ user.username|escape }}</td>
            <td>********************************(not shown)</td>
            <td>{{ user.email|escape }}</td>
            <td>{{ user.bio|escape }}</td>
            <td>{{ user.age|escape }}</td>
        </tr>
    </table>
{% else %}
    Could not find a user with username "{{ username|escape }}".
{% endif %}

{% endblock %}
